body{
	background-color: lightgrey;
}
header {
	background-color: grey;
	border-style: double;

}


footer {
	font-size: 10;
	text-align: center;
}

html  {font-family: "Arial", sans-serif;
	}

img.FTeller{
	border-style: double;
}

img.headImage{
	float: right;
	margin: 0px 70px;
	border-style: solid;
	height:430px;
	width:315px;

}
img.linkedin{
	width:40;
	height:50;
}
img.VPet{
	border-style: double;
}
img.VPetShel{
	border-style: double;
}

nav ul li{
	display: inline;

}

nav {
		text-align: center;
		padding-right: 10px;
		border-style: double;
}

nav ul li a{
	list-style-type: none;
	color:black;


}
h1{
	font-size: 70px;
	text-align: center;
}





