body{
	background-color: lightgrey;
}
header {
	background-color: grey;
	border-style: double;

}


footer {
	font-size: 10;
	text-align: center;
}

html  {font-family: "Arial", sans-serif;
	}


img.headImage{
	float: right;
	margin: 0 0 70px 70px;
	padding-right: 25px;

}
img.linkedin{
	width:105;
	height:105;
}
nav ul li{
	display: inline;

}

nav {
		text-align: right;
		padding-right: 25px;
}

nav ul li a{
	list-style-type: none;
	color:black;


}
h1{
	font-size: 70px;
	text-align: center;
}





